@charset "UTF-8";

body{
	margin: 0 auto;
	background-color:#d1bfb1;
	color:#666666;
	font-family: gulim;
	font-size: 17px;
	text-align: center;
}
header{
	height: 60px;
	line-height: 60px;
}
section{	
	display: flex;
	justify-content: center;
	width: 100%;
	overflow: auto;
}
table{
	width: 450px;
	margin-bottom: 1em;
}
th{
	padding: 1.3em;
	border-collapse: collapse;
	border-radius:0.5em;
	background-color: #d1bfb1;
	color: white;
}
td{
	margin: 2em;
	padding: 1.3em;
	border-collapse: collapse;
	border-radius: 0.5em;
	background-color:#d1bfb1;
	border-bottom: 1px solid white;
	color:white;
}
td:hover{
	cursor: pointer;
	background-color:white;
	color:#d1bfb1;
}
button{
	margin: 30px;
	width: 45px;
	height: 30px;
	border-collapse: collapse;
	border-radius: 0.7em;
	border:1px solid white;
	background-color:white;
	color:#d1bfb1;
}
button:hover{
	cursor: pointer;
	background-color:#d1bfb1;
	color:white;
}
.Box{
	display: flex;
	justify-content: center;
	align-items: center;
}
/*select box 꾸미기*/
.selectBox {
	position: relative;
	display: flex;
	justify-content: center;
	width: 140px;
	height: 30px;
	margin: 30px;
	border-radius: 1em;
}
.selectBox .select {
	width: inherit;
	height: inherit;
	background: transparent;
	border: 0 none;
	outline: 0 none;
	padding: 0 5px;
	position: relative;
	z-index: 3;
}
.selectBox .select option {
	background: lightcoral;
	color: #fff;
	padding: 3px 0;
	font-size: 16px;
}
.selectBox .icoArrow {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	height: inherit;	
	display: flex;
	justify-content: center;
	align-items: center;
}
.selectBox .icoArrow img {
	width: 40%;
	transition: .3s;  /*회전*/
}
.selectBox .select:focus + .icoArrow img{
	transform: rotate(180deg);
}
.select:hover {
	cursor: pointer;
}
footer{
	position: fixed;
	height: 2em;
	line-height: 2em;
	bottom: 0px;
	width: 100%;
	background-color: #666666;
	color: #d1bfb1;
}
